spring:
  application:
    name: realisasi-pemda-service
  docker:
    compose:
      enabled: true
  lifecycle:
    timeout-per-shutdown-phase: 15s
  r2dbc:
    username: user
    password: ChangeMyPassword
    url: r2dbc:postgresql://localhost:5432/kertaskerja_realisasi_pemda
    pool:
      initial-size: 5
      max-size: 10
      max-create-connection-time: 2s
  flyway:
    user: ${spring.r2dbc.username}
    password: ${spring.r2dbc.password}
    url: jdbc:postgresql://localhost:5432/kertaskerja_realisasi_pemda
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak.kertaskerja.local/realms/KabMadiun

server:
  port: 9001
  shutdown: graceful
  netty:
    connection-timeout: 2s
    idle-timeout: 15s
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.server: DEBUG
    reactor.netty.http.server: DEBUG
